<link rel="stylesheet" href="/css/users/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="/js/users/ProfileHobby.js"></script>
<script src="/js/users/ProfileRanking.js"></script>
<div class="profile-wrapper">
    <div class="user-container user-profile-container">
        <div class="user-profile-img">
            <div class="img-wrapper">
                <img class="card-img-top" src="<%- user.profile_image_url_https %>" alt="Profile Image">
            </div>
        </div>
        <div class="user-profile-text">
            <div class="names">
                <h4 class="name"><i class="fa fa-user"></i><%- user.name %></h4>
                <p class="id">@<%- user.screen_name %></p>    
            </div>
            <div class="others">
                <div class="others-inner">
                    <p class="description"><i class="fa fa-edit"></i><%- user.description %></p>
                    <p><a class="url" href="<%- user.url %>"><i class="fa fa-link"></i><%- user.url %></a></p>
                    <p class="location"><i class="fa fa-location-arrow"></i><%- user.location %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="user-container hobby-container"></div>
    <div class="user-container network-container">
        <div class="search-container">
            <p><i class="fa fa-search"></i>TweeBeeユーザを趣味で検索する</p>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">検索</button>
                </div>
            </div>
            <div class="input-group" style="margin-top:1em;">
                <button class="btn btn-primary" type="button">カテゴリを選んで検索</button>
            </div>
        </div>
        <div class="chart-container"></div>
    </div>
</div>
<script>
    $(function(){
        var profile_hobby = new ProfileHobby($(".hobby-container"));
        profile_hobby.render();

        var profile_ranking = new ProfileRanking($(".chart-container"));
        profile_ranking.render();
    })
</script>